&usart1 {
    current-speed = <9600>;
};

/ {
    leds {
        compatible = "gpio-leds";
        blue_led: led_0 {
            gpios = <&gpioc 13 GPIO_ACTIVE_LOW>;
            label = "Blue LED";
        };
    };
};
