/*
 * Copyright (c) 2026 Scott King
 *
 * SPDX-License-Identifier: Apache-2.0
 */

#include <zephyr/dt-bindings/pinctrl/ch32v20x_30x-pinctrl.h>

#define USB_DM_PA11 CH32V20X_V30X_PINMUX_DEFINE(PA, 11, SPI1, 0)
#define USB_DP_PA12 CH32V20X_V30X_PINMUX_DEFINE(PA, 12, SPI1, 0)

&pinctrl {
	usart1_default: usart1_default {
		group1 {
			pinmux = <USART1_TX_PA9_0>;
		};
		group2 {
			pinmux = <USART1_RX_PA10_0>;
		};
	};

	usbfs_default: usbfs_default {
		group1 {
			pinmux = <USB_DM_PA11>, <USB_DP_PA12>;
		};
	};

    usbpd_default: usbpd_default {
        group1 {
            /* PB6 and PB7 are CC1 and CC2 */
            pinmux = <CH32V20X_V30X_PINMUX_DEFINE(PB, 6, SPI1, 0)>,
                     <CH32V20X_V30X_PINMUX_DEFINE(PB, 7, SPI1, 0)>;
            drive-open-drain; 
        };
    };
};
