CONFIG_SOC_CH32L103=y
CONFIG_BOARD_CH32L103_EVT=y
CONFIG_CONSOLE=y
CONFIG_SDI_CONSOLE=y
# CONFIG_UART_CONSOLE is not set
CONFIG_SERIAL=y
CONFIG_GPIO=y
CONFIG_MFD=y
CONFIG_OPAMP=y
CONFIG_COMPARATOR=y
CONFIG_UART_WCH_USART_DMA=y
