# Copyright (c) 2025 MASSDRIVER EI (massdriver.space)
# SPDX-License-Identifier: Apache-2.0

config SOC_CH32X035
	bool "CH32X035"
	select SOC_FAMILY_CH32V
	select SOC_SERIES_QINGKE_V4C
	select HAS_PM

config SOC
	default "ch32x035" if SOC_CH32X035
