# Copyright (c) 2026 Scott King
# SPDX-License-Identifier: Apache-2.0

config COUNTER_WCH_LPTIM
	bool "WCH LPTIM counter driver"
	default y
	depends on DT_HAS_WCH_CH32_LPTIM_ENABLED
	help
	  Enable support for the WCH LPTIM counter driver.
