config WDT_WCH_IWDG
	bool "WCH Independent Watchdog (IWDG) Driver"
	default y
	depends on DT_HAS_WCH_CH32_WATCHDOG_ENABLED
	help
	  Enable IWDG driver for WCH CH32 MCUs.

config WDT_WCH_WWDG
	bool "WCH Window Watchdog (WWDG) Driver"
	default y
	depends on DT_HAS_WCH_CH32_WWDG_ENABLED
	help
	  Enable WWDG driver for WCH CH32 MCUs.
