# Copyright (c) 2026 Scott King
# SPDX-License-Identifier: Apache-2.0

config SOC_FLASH_WCH
	bool "WCH Flash driver"
	default y
	depends on DT_HAS_WCH_CH32_FLASH_CONTROLLER_ENABLED
	select FLASH_HAS_PAGE_LAYOUT
	select FLASH_HAS_DRIVER_ENABLED
	help
	  Enable WCH Flash driver.
