# Copyright (c) 2024 Nanjing Qinheng Microelectronics Co., Ltd.
# SPDX-License-Identifier: Apache-2.0

config USBC_TCPC_CH32X035
	bool "WCH CH32X035 USB Power Delivery Controller Driver"
	default y
	depends on DT_HAS_WCH_CH32X035_UCPD_ENABLED
	help
	  Enable TCPC driver for WCH CH32X035.
