CONFIG_BOARD_CH32V307_EVT=y
CONFIG_TICKLESS_KERNEL=n

# L103/V307 clock config might differ, but assuming basic consistency for now
CONFIG_SYS_CLOCK_HW_CYCLES_PER_SEC=144000000

CONFIG_SERIAL=y
CONFIG_CONSOLE=y
CONFIG_UART_CONSOLE=y
CONFIG_GPIO=y
