# Copyright (c) 2025 MASSDRIVER EI (massdriver.space)
# SPDX-License-Identifier: Apache-2.0

config PINCTRL_CH32X035
	bool "WCH CH32X035 pin controller driver"
	default y
	depends on DT_HAS_WCH_CH32X035_AFIO_ENABLED
	help
	  WCH CH32X035 pin controller driver.
	  Configures GPIO pins for alternate functions.
